{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <a href="https://wesmckinney.com/pages/book.html">
                  <img class="img-responsive" src="https://akamaicovers.oreilly.com/images/0636920023784/cat.gif"
					   height="400" alt="">
                </a>
                <p>I published the first edition in 2012, and the 2nd edition
                was published in
                2017. <strong><a href="https://wesmckinney.com/pages/book.html">Click to
                read more</a></strong></p>
            </div>
            <div class="col-md-4 portfolio-item">
                <h3>
                    <a href="archives.html">Blog</a>
                </h3>
                <p>I write about technical topics (mostly related to Python
                programming), with occasional diversions into other things that
                interest me.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <a href="https://wesmckinney.com/pages/about.html">
                  <img class="img-responsive" src="images/wes-2017-01-12-small.png"
					   height="400" alt="">
                </a>
                <h3>
                    <a href="pages/about.html">About me</a>
                </h3>
                <p>Learn more about my present past life and projects I've
                worked on.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 portfolio-item">
                <h3>
                    <a href="pages/presentations.html">Presentations</a>
                </h3>
                <p>I give frequent presentations and tutorials about my work at
                Python and industry conferences and user meetups.</p>
            </div>
            <div class="col-md-4 portfolio-item">
                <h3>
                    <a href="https://github.com/wesm">Code</a>
                </h3>
                <p>Most of my open source software is hosted on GitHub.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
{% endblock content %}
